<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <div class="mb-16">
      <app-breadcrumb
        [items]="[
          { label: 'Property Management', url: '/property-management' },
          { label: 'Edit Property' }
        ]"
      ></app-breadcrumb>
    </div>
    <div
      class="flex flex-col gap-12 py-5 px-24 border border-[#EBEBEB] rounded-lg w-full bg-background mb-8"
    >
    <form nz-form [formGroup]="editForm" (ngSubmit)="submit()">
        <div class="flex flex-row justify-between items-center py-5">
            <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0 !pb-0 basis-2/3">
                {{ property?.name }}
            </h2>
            <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
        </div>

      <div class="flex justify-center items-center gap-6 py-5">
        <img
            src="{{property?.image}}"
            alt="user"
            class="w-2/3 h-full rounded-lg object-cover brightness-50"
        />
        <app-icon class="!text-white !text-sm absolute pointer" name="edit"></app-icon>
      </div>
      <div class="flex flex-col gap-5 w-full">
        
        <div class="flex flex-col justify-center gap-y-8 w-full">
        <div class="w-full">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" [nzNoColon]="true">
            <span>Property Category</span>
            </nz-form-label>
            <nz-form-control
            nzErrorTip="Please select property category"
            >
            <div class="flex justify-between">
                <nz-select
                    id="category"
                    formControlName="category"
                    nzAllowClear
                    nzPlaceHolder="Select a category for this property"
                    class="basis-2/3"
                >
                    <nz-option nzValue="cat1" nzLabel="Category 1"></nz-option>
                    <nz-option nzValue="cat2" nzLabel="Category 2"></nz-option>
                    <nz-option nzValue="cat3" nzLabel="Category 3"></nz-option>
                </nz-select>
                <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
            </div>
            </nz-form-control>
        </div>
        <!-- <div>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" [nzNoColon]="true">
            <span>Property Name</span>
            </nz-form-label>
            <nz-form-control
            nzErrorTip="Please enter property name!"
            >
            <input
                nz-input
                id="name"
                placeholder="Enter property name"
                formControlName="name"
            />
            </nz-form-control>
        </div> -->
        <div>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="location" [nzNoColon]="true">
                Property Location
            </nz-form-label
            >
            <nz-form-control
            nzErrorTip="Please enter property location"
            >
            <div class="flex justify-between">
                <input
                    nz-input
                    formControlName="location"
                    placeholder="Enter Property location"
                    id="location"
                    class="basis-2/3"
                />
            <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
            </div>
            </nz-form-control>
        </div>

        <div>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" [nzNoColon]="true">
                Property Address
            </nz-form-label
            >
            <nz-form-control
            nzErrorTip="Please enter property address"
            >
            <div class="flex justify-between">
                <input
                    nz-input
                    formControlName="address"
                    placeholder="Enter Property address"
                    id="address"
                    class="basis-2/3"
                />
            <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
            </div>
            </nz-form-control>
        </div>

        <div>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" [nzNoColon]="true">
                Property Description
            </nz-form-label
            >
            <nz-form-control
            nzErrorTip="Please enter property description"
            >
            <div class="flex justify-between">
            <textarea
                nz-input
                formControlName="description"
                placeholder="Enter Property description"
                id="description"
                rows="4"
                class="basis-2/3"
            ></textarea>
            <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
            </div>
            </nz-form-control>
        </div>
                
        </div>

        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Amenities</p>
          
          <div class="flex justify-between">
            <div class="flex gap-4 basis-2/3 flex-wrap">
                @for(am of ['Tarred Road','24/7 Electricity','Fenced Perimeter']; track am) {
                    <div class="flex bg-tertiary items-center gap-2 bg-gray-100 p-2 rounded">
                        <app-icon class="!text-primary text-[10px]" name="power"></app-icon>
                        <h2 class="!text-[#4F4F4F] text-normal font-medium text-[16px] !mb-0">
                            {{am}}
                        </h2>
                    </div>
                }
            </div>
            <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
          </div>

        </div>

        <div class="flex flex-col">
            <div class="flex justify-between items-center mt-4">
            <p class="!text-[#7A7A7A] !text-medium !mb-2">Unit</p>
            <p class="!text-[#7A7A7A] !text-primary !mb-2">+  Add Unit</p>
        </div>
        <div class="flex">
            <nz-collapse class="w-full" [nzExpandIconPosition]="'end'">
                @for (panel of panels; track panel) {
                    <nz-collapse-panel [nzHeader]="panel.name" [nzActive]="panel.active" [nzShowArrow]="panel.arrow">
                        <div class="flex flex-col gap-4">
                            <div class="flex justify-between items-center">
                                <div class="flex flex-col">
                                    <p class="!text-[#7A7A7A] !text-medium !mb-2">Unit Type</p>
                                    <h5 class="!text-[#4F4F4F] text-normal font-medium !mb-0">
                                        {{ panel.name }}
                                    </h5>
                                </div>
                                <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
                            </div>

                            <div class="flex justify-between items-center">
                                <div class="flex flex-col">
                                    <p class="!text-[#7A7A7A] !text-medium !mb-2">Amount</p>
                                    <h5 class="!text-[#4F4F4F] text-normal font-medium !mb-0">
                                        {{ '50000' | currency: 'NGN' }}
                                    </h5>
                                </div>
                                <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
                            </div>

                            <div class="flex justify-between items-center">
                                <div class="flex flex-col">
                                    <p class="!text-[#7A7A7A] !text-medium !mb-2">Installment Type</p>
                                    <h5 class="!text-[#4F4F4F] text-normal font-medium !mb-0">
                                        3 Month Installment
                                    </h5>
                                </div>
                                <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
                            </div>

                            <div class="flex justify-between items-center">
                                <div class="flex flex-col">
                                    <p class="!text-[#7A7A7A] !text-medium !mb-2">Initial Amount</p>
                                    <h5 class="!text-[#4F4F4F] text-normal font-medium !mb-0">
                                        {{ '30000' | currency: 'NGN' }}
                                    </h5>
                                </div>
                                <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
                            </div>

                            <div class="flex justify-between items-center">
                                <div class="flex flex-col">
                                    <p class="!text-[#7A7A7A] !text-medium !mb-2">Total Amount</p>
                                    <h5 class="!text-[#4F4F4F] text-normal font-medium !mb-0">
                                        {{ '50000' | currency: 'NGN' }}
                                    </h5>
                                </div>
                                <app-icon class="!text-primary !text-sm" name="edit"></app-icon>
                            </div>
                            <p class="!text-[#7A7A7A] !text-primary !mb-2">+  Add Installment</p>
                        </div>
                    </nz-collapse-panel>
                }
            </nz-collapse>
        </div>
        </div>
        
      </div>
        <div class="flex items-center justify-end gap-6 my-12">
        <button
            type="submit"
            class="rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer"
        >
            Save Property
        </button>
        </div>

  </form>
    </div>

  </div>
 
</main>
