<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <div class="mb-16">
      <app-breadcrumb
        [items]="[
          { label: 'Inspection', url: '/inspection-schedule' },
          { label: 'Inspection Form' }
        ]"
      ></app-breadcrumb>
    </div>

    <p class="text-gray-500 font-medium">Kindly fill the form below to schedule an inspection for this property. Please Note the following:</p>

    <p class="text-gray-500 font-medium !pt-6">Our inspections days are; <span class="!text-primary !font-semibold">TUESDAYS, THURSDAYS AND SATURDAYS.</span> &nbsp; <span class="!font-semibold">WEDNESDAYS ONLY IS FOR LEGACY PHASE 2.</span> Kindly book 24 hours ahead of time to enable us plan adequately, we look forward to a successful and stress-free inspection with you.</p>


  </div>
 
</main>
