<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="/main/dashboard">
        <img src="logo.png" alt="logo" />
      </a>
    </div>
    <div class="pt-8 flex flex-col pb-6 pr-8 gap-4 border-b border-gray-100 ml-8">
      <h1 class="!font-light text-sm !text-gray-500 uppercase">Main Menu</h1>
      <ul nz-menu class="menu">
        <!-- <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="dashboard"></app-icon>

          <a
            [routerLink]="['/main/dashboard']"
            routerLinkActive="!bg-primary !text-[#fff]"
            [routerLinkActiveOptions]="{ exact: true }"
            >Dashboard</a
          >
        </li> -->
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon class="!text-sm" name="map"></app-icon>

          <a
            [routerLink]="['/main/explore']"
            routerLinkActive="!bg-primary !text-[#fff]"
            [routerLinkActiveOptions]="{ exact: true }"
            >Explore Property</a
          >
        </li>
      </ul>
    </div>
    <div class="pt-8 flex flex-col pb-6 pr-8 gap-4 border-b border-gray-100 ml-8">
      <h1 class="!font-light text-sm !text-gray-500 uppercase">Property Menu</h1>
      <ul nz-menu class="menu">
        
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="property"></app-icon>

          <a
            [routerLink]="['/main/property-management']"
            routerLinkActive="!bg-primary !text-[#fff]"
            >Property Management</a
          >
        </li>
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="purse"></app-icon>

          <a
            [routerLink]="['/main/financial-transactions']"
            routerLinkActive="!bg-primary !text-[#fff]"
            >Financial Transactions</a
          >
        </li>
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="clock"></app-icon>

          <a
            [routerLink]="['/main/inspection-schedule']"
            routerLinkActive="!bg-primary !text-[#fff]"
            >Inspection Schedule</a
          >
        </li>
      </ul>
    </div>
    <div class="pt-8 flex flex-col pb-6 pr-8 gap-4 border-b border-gray-100 ml-8">
      <h1 class="!font-light text-sm !text-gray-500 uppercase">Personal Menu</h1>
      <ul nz-menu class="menu">
        
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="user"></app-icon>

          <a
            [routerLink]="['/main/my-profile']"
            routerLinkActive="!bg-primary !text-[#fff]"
            >My Profile</a
          >
        </li>
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="lock"></app-icon>

          <a
            [routerLink]="['/main/password-security']"
            routerLinkActive="!bg-primary !text-[#fff]"
            >Password & Security</a
          >
        </li>
      </ul>
    </div>
    <div class="pt-8 flex flex-col pr-8 pb-6 gap-0 border-b border-gray-100 ml-8">
      <h1 class="!font-light text-sm !text-gray-500 uppercase">
        SETTINGS
      </h1>
      <ul nz-menu class="menu">
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="bell"></app-icon>

          <a
            [routerLink]="['/main/notifications']"
            routerLinkActive="!bg-primary !text-[#fff]"
            >Notifications</a
          >
        </li>
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="help-circle"></app-icon>

          <a
            [routerLink]="['/main/faq']"
            routerLinkActive="!bg-primary !text-[#fff]"
            >FAQ</a
          >
        </li>
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="phone-call"></app-icon>

          <a
            [routerLink]="['/main/support']"
            routerLinkActive="!bg-primary !text-[#fff]"
            >Support</a
          >
        </li>
        <li nz-menu-item class="menu-item" nzMatchRouter>
          <app-icon name="exit"></app-icon>

          <a (click)="logout()">Sign Out</a>
        </li>
      </ul>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header border-b border-gray-100">
        <div class="flex items-center justify-between py-[30px] px-10 w-full">
          <h1 class="!text-primary !text-xl">Welcome, {{ firstName }}!</h1>
          <div class="flex items-center justify-between gap-4">
            <app-search-bar
              (search)="onSearch($event)"
              [placeholder]="'Search property...'"
            ></app-search-bar>
          </div>
          <div class="flex gap-4 items-center">
            <app-icon
              [name]="'bell'"
              class="text-primary p-2 bg-primary/10 rounded-full"
            ></app-icon>
            <app-icon
              [name]="'message-circle'"
              class="text-primary p-2 bg-primary/10 rounded-full"
            ></app-icon>
            <div class="flex gap-2 items-center">
              <img
                src="logo.png"
                alt="profile"
                class="w-10 h-10 rounded-full object-cover border-2 border-red-500"
              />
              <div>
                <h2 class="font-medium !text-gray-500 mb-1 text-normal">
                  {{ firstName }}
                </h2>
                <p class="text-small text-gray-400">{{ loggedInUser.email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
