<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <app-breadcrumb
      [items]="[
        { label: 'Realtor Management', url: '/realtor-management' },
        { label: 'Realtor 001' }
      ]"
    ></app-breadcrumb>
    <div class="flex items-center justify-end gap-6 my-12">
      <button
        class="place-self-end rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer"
      >
        Delete Realtor</button
      ><button
        class="place-self-end rounded-lg border border-primary py-3 px-10 text-[20px] !text-primary font-medium cursor-pointer"
      >
        Suspend Realtor
      </button>
    </div>
    <div
      class="flex gap-6 py-5 px-7 border border-[#EBEBEB] rounded-lg w-11/12 bg-background border-b-0 rounded-es-none rounded-ee-none"
    >
      <img
        src="images/user.png"
        alt="user"
        class="w-full max-w-[230px] h-full rounded-lg object-cover"
      />

      <div class="flex flex-wrap items-center justify-between w-11/12 gap-x-16">
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Full Name</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            Endurance Racheal Ace
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Email Address</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            Exampla1&#64;gmail.com
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Realtor Tag</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            ACE01234
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Total Property Managed</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            2
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Total Purchases</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            &#8358; 300,000,000
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Status</p>
          <h2 class="!text-[#008028] text-normal font-medium text-[20px] !mb-0">
            Active
          </h2>
        </div>
      </div>
    </div>
    <div
      class="flex gap-6 py-8 px-6 border border-[#EBEBEB] rounded-lg w-11/12 bg-background rounded-ss-none rounded-se-none"
    >
      <div class="flex flex-col gap-8 w-full">
        <h2 class="!text-[#4F4F4F] text-normal font-medium text-2xl !mb-0">
          Additional Details
        </h2>
          <div class="flex flex-wrap items-center max-w-11/12 gap-x-[93px] gap-y-8">
            <div class="flex flex-col gap-1">
              <p class="!text-[#7A7A7A] !text-medium !mb-2">Nationality</p>
              <h2
                class="!text-[#4F4F4F] text-normal font-semibold text-2xl !mb-0"
              >
                Nigerian
              </h2>
            </div>
            <div class="flex flex-col gap-1">
              <p class="!text-[#7A7A7A] !text-medium !mb-2">State of Origin</p>
              <h2
                class="!text-[#4F4F4F] text-normal font-semibold text-2xl !mb-0"
              >
                Enugu
              </h2>
            </div>
            <div class="flex flex-col gap-1">
              <p class="!text-[#7A7A7A] !text-medium !mb-2">Realtor</p>
              <h2
                class="!text-[#4F4F4F] text-normal font-semibold text-2xl !mb-0"
              >
                No 2, Aceroyal estate, ibeju-Lekki.
              </h2>
            </div>
            <div class="flex flex-col gap-1">
              <p class="!text-[#7A7A7A] !text-medium !mb-2">
                Bank Verificatin Number (BVN)
              </p>
              <h2
                class="!text-[#4F4F4F] text-normal font-semibold text-2xl !mb-0"
              >
                BVN012345678
              </h2>
            </div>
            <div class="flex flex-col gap-1">
              <p class="!text-[#7A7A7A] !text-medium !mb-2">
                National Identity Number (NIN)
              </p>
              <h2
                class="!text-[#4F4F4F] text-normal font-semibold text-2xl !mb-0"
              >
                NIN01234567890
              </h2>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between mb-10">
    <p class="text-[#4F4F4F] text-normal text-2xl">Properties List</p>
    <nz-select
      ngModel="All Properties"
      nzAllowClear
      nzPlaceHolder="All Properties"
      class="!w-[200px]"
    >
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      <nz-option nzValue="lucy1" nzLabel="Lucy1"></nz-option>
      <nz-option nzValue="luc2y" nzLabel="Lucy2"></nz-option>
      <nz-option nzValue="lu3cy" nzLabel="Lucy3"></nz-option>
      <nz-option nzValue="l4ucy" nzLabel="Lucy4"></nz-option>
    </nz-select>
  </div>
  <div class="rounded-lg border-2 border-[#EEF2F6] bg-background px-4 py-10">
    <div class="flex items-center justify-between mb-7 px-7">
      <div class="flex flex-col gap-2">
        <app-search-bar />
      </div>
    </div>
    <!-- <app-table
      [data]="people"
      [columns]="columns"
      [enableSorting]="true"
      [rowLink]="getRowLink"
      [enableSelection]="true"
      (selectedData)="handleSelectedData($event)"
      class="w-full"
    /> -->
  </div>
</main>
