:host {
  display: block;
  width: 100%;
}

:host-context(.dark) input {
  background: #111827;
  border-color: #334155 !important;
  color: #f8fafc;
}

:host-context(.dark) input::placeholder {
  color: #94a3b8;
}

:host-context(.dark) svg,
:host-context(.dark) span,
:host-context(.dark) button {
  color: #94a3b8 !important;
}
