<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb__list">
    @if (items.length > 1) {
      <li
        *ngFor="let item of items; let first = first; let last = last"
        class="breadcrumb__item"
        [class.breadcrumb__item--current]="last"
      >
        <ng-container *ngIf="first">
          <a [routerLink]="item.url" class="breadcrumb__link">
            {{ item.label }}
          </a>
          <span class="breadcrumb__separator">›</span>
        </ng-container>

        <ng-container *ngIf="!last && !first">
          <a [routerLink]="item.url" class="breadcrumb__link">
            {{ item.label }}
          </a>
          <span class="breadcrumb__separator">›</span>
        </ng-container>

        <ng-container *ngIf="last">
          <span class="breadcrumb__current">{{ item.label }}</span>
        </ng-container>
      </li>
    } @else {
      <li class="breadcrumb__item breadcrumb__item--current">
        <a [routerLink]="items[0].url" class="breadcrumb__link">
          {{ items[0].label }}
        </a>
      </li>
    }
  </ol>
</nav>
