<nav class="text-sm text-gray-500 !mb-0" aria-label="Breadcrumb">
  <ol class="list-none p-0 inline-flex items-center space-x-1 !mb-0">
    @if(items.length>1){
    <li
      *ngFor="let item of items; let first = first; let last = last"
      class="flex items-center !mb-0"
    >
      <ng-container *ngIf="first" class="flex items-center">
        <a
          [routerLink]="item.url"
          class="hover:underline text-[32px] font-medium"
          [ngStyle]="{ color: '#4F4F4F' }"
        >
          {{ item.label }}
        </a>
        <span class="mx-1 text-[32px] font-medium text-[#4F4F4F]">›</span>
      </ng-container>
      <ng-container *ngIf="!last && !first" class="flex items-center">
        <a
          [routerLink]="item.url"
          class="hover:underline text-2xl font-medium"
          [ngStyle]="{ color: '#4F4F4F' }"
        >
          {{ item.label }}
        </a>
        <span class="mx-1 text-[32px] font-medium text-[#4F4F4F]">›</span>
      </ng-container>
      <ng-container *ngIf="last">
        <span class="text-red-600 text-2xl font-medium">{{ item.label }}</span>
      </ng-container>
    </li>
    }@else {
    <li class="flex items-center !mb-0">
      <ng-container class="flex items-center">
        <a
          [routerLink]="items[0].url"
          class="hover:underline text-[32px] font-medium"
          [ngStyle]="{ color: '#4F4F4F' }"
        >
          {{ items[0].label }}
        </a>
      </ng-container>
    </li>
    }
  </ol>
</nav>
